#main-body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.affichage {
  text-align: center;
}

#donneurTab {
 display: none;
}

#creation_partie {
  display: none;
}

#partie_en_cours {
  display: none;
}