.affichage {
    text-align: center;
}

.bouton {
    margin: 2em;
}

.nombreclics {
    color: green;
    font-size: 4em;
    visibility: hidden;
}

#boutonMoins {
    visibility: hidden;
}

#boutonRaz{
    visibility: hidden;
}

